.no-decoration {
  color: black;
  font-size: 1.2rem;
}

.background {
  text-align: center;
}

.background-autor {
  padding-left: 50vh;
  padding-right: 50vh;
}

.navbar {
  background-color: rgba(12, 12, 12, 0.534);
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.form {
  display: flex;
  justify-content: center;
}

.button {
  text-decoration: none;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgb(41, 41, 41);
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
  width: 7rem;
  text-align: center;
  box-shadow: rgb(31, 31, 31);
  border: 2px;
  border-color: black;
}

.button-search {
  text-decoration: none;
  margin: 0.5rem;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.897);
  font-size: 1.1rem;
  color: rgb(0, 0, 0);
  font-weight: 700;
  width: 7rem;
  text-align: center;
  box-shadow: rgb(31, 31, 31);
  border: 2px;
  border-color: black;
}

h2 {
  text-transform: uppercase;
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  text-align: center;
}

h3 {
  text-align: center;
}

.section-title {
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}

.section-title-link {
  font-weight: 600;
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  text-decoration: underline;
  text-decoration-color: #000000;
}

.button:hover {
  box-shadow: rgba(20, 20, 20, 0.534);
}

.card-holder {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: rgb(34, 17, 17);
  justify-content: space-evenly;
  padding-top: 2rem;
  min-height: 100%;
}

.card {
  margin: 1rem;
  padding: 2rem;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 10rem;
  height: 12rem;
  background-color: rgb(197, 48, 48);
  box-shadow: 0.1rem 0.1rem 0.6rem rosybrown;
  border-radius: 0.5rem;
}

.card:hover {
  box-shadow: 0.1rem 0.1rem 2rem greenyellow;
}

.cardTitle {
  color: aliceblue;
  text-decoration: underline;
  font-weight: 700;
}

.cardVar {
  color: aliceblue;
}

.book-page {
  background-color: #000000;
  padding: 2.5rem 0.5rem 0.5rem 2.5rem;
  width: 45vw;
  border-radius: 0.2rem;
  box-shadow: 0.1rem 0.1rem 2rem rgb(87, 57, 114);
}

.section {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}
